<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      @if (showMenuButton) {
        <ion-button (click)="onMenuToggle()" class="menu-toggle">
          <ion-icon name="menu" slot="icon-only"></ion-icon>
        </ion-button>
      }
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <app-theme-toggle></app-theme-toggle>
      <ion-button (click)="presentPopover($event)" id="user-menu-button">
        <ion-icon name="person" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

