:host {
  width: 100%;
  height: 100%;
}

.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--ion-background-color);
  width: 100%;
  height: 100%;
}

.no-contact-selected {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 32px;
  text-align: center;
  color: var(--app-text-secondary);

  ion-icon {
    font-size: 4rem;
    margin-bottom: 16px;
    opacity: 0.5;
  }

  h2 {
    margin: 0 0 8px 0;
    font-size: 1.5rem;
  }

  p {
    margin: 0;
    font-size: 1rem;
  }
}

